body{
    background-color: #e4e5e6;
}
img{
    width : 300px;
    margin-left : 520px;
    margin-top : 50px;
    margin-bottom : 30px;
}
h1{
    text-align : center;
}
a{
    text-decoration : white none;
}
.btn:not(:disabled):not(.disabled) {
    cursor : pointer;
}
