div .main{
    background: url('../Asset/5.1.jpg') no-repeat;
    background-size: contain;
    height: 730px;
}
div .sign_in{
    background: url('../Asset/8.jpg') no-repeat;
    background-size: cover;
    height: 800px;
}
div .sign_up{
    background: url('../Asset/8.jpg') no-repeat;
    background-size: cover;
    height: 800px;
}
h1{
    text-align : center;
}
a{
    text-decoration : white none;
}
.btn:not(:disabled):not(.disabled) {
    cursor : pointer;
}